body {
    background: linear-gradient(#555879, #98A1BC);
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color:white;  
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.right,.left{
    color:#153a6e;
    align-items: center;
    padding : 20px;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFF2E0;
    border-radius: 5%;
    width: 450px;
    height:180px;

}

.btn, #compChoice{
    background-color: #153a6e;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    width: 120px;
}

.btn:active {
    background-color: #760f0f;
}

.btn:hover {
    font-size:12px;
}

.scoreboard {
    display: flex;
}

.score{
    border: solid #DED3C4;
    padding: 10px 20px;
    width:50%
}

.roundboard {
    border: solid #DED3C4;
    padding: 10px 20px;    
}

.board{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: #153a6e;
    border-radius: 10px;
    text-align: center;
    color: #f0f0f0;
    gap: 10px;
    width: 300px;
    padding: 10px;
}



